/* Desktops */
@media (min-width: 768px) { section { padding: 4% 20% } }

/* Mobiles */
@media (max-width: 767px) { section { padding: 12% 8% } }


body { 
    background-color: lightgoldenrodyellow;
}

section {
    padding: 5% 5% 5% 5%;
    background-color: beige;
}

h2{
    font-size: 36px;
    margin-bottom: 4px;
}

p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
}

.Sec1{ 
    background-color: lightcyan;
}

.Sec2{
    background-color: brown;
    color: white;
}

.Sec3{
    background-color: lightgoldenrodyellow;
}

.Sec4{
    background-color: lightgoldenrodyellow;
}

.Sec5{
    background-color: #004;
    color: white;
}

.Sec6{
    background-color: lightsteelblue;
}